/*reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.main {
    width: 100%;
    height: 75vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}

.logo img {
    height: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585b5b;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: #2adabc;
    color: #FFFFFF;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
    transition: all ease 0.2s;
}

.model img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.model {
    width: 500px;
    height: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    align-self: center;
    font-style: italic;
    font-size: 1.1rem;
    color: #747474;
}

.portfolio-content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.main-text {
    width: 500px;
}

.main-text h1 {
    font-size: 3.5rem;
    color: #1c3548;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text p {
    color: #747474;
}

.portfolio-btn {
    margin-top: 8px;
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1db096;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2);
}

.portfolio-btn:hover {
    background-color: #23cdaf;
    transition: all ease 0.2s;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto auto 50px auto;
}

.skill-text {
    width: 400px;
}

.skill-img {
    width: 600px;
    height: 600px;
}

.skill-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skill-heading span {
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
}

h2 {
    color: #1c3548;
    font-size: 3.3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: italic;
}

.s-box-container {
    margin-top: 30px;
}

.skill-box {
    display: flex;
    margin: 25px 0px;
}

.s-box-icon {
    margin-right: 12px;
}

.s-box-icon i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}

.s-box-text strong {
    color: #1c3548;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: 600;
}

.s-box-text p {
    color: #747474;
    font-size: 0.9rem;
}

.fa-html5 {
    color: #e06061;
}

.fa-css3-alt {
    color: #416cdf;
}

.fa-js-square {
    color: #f98231;
}

.recent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    flex-direction: column;
}

.recent__heading span {
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.recent__heading h3,
.contact h3 {
    color: #1c3548;
    font-size: 3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}

.recent-img {
    margin: 0px 40px;
}

.recent-img img {
    width: 100%;
    height: 100%;
}

.recent-btn {
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1db096;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2);
}

.recent-btn:hover {
    background-color: #23cdaf;
    transition: all ease 0.2s;
}

.recent-btn {
    width: 190px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.contact h3 {
    font-size: 2.5rem;
    margin: 20px;
}

.contact img {
    height: 300px;
}

.contact-input {
    width: 400px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
}

.contact-input input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: #242425;
}

.contact-input a {
    width: 200px;
    height: 35px;
    background-color: #1db096;
    color: #FFFFFF;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    border-radius: 20px;
    font-weight: 500;
}

.hobbies-img {
    align-self: center;
}

.shows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shows-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.shows-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.shows-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.shows-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.shows-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.shows-table th,
.shows-table td {
    padding: 12px 15px;
}

.spotify-logo {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.socials {
    color: #000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 40%;
    right: 0;
    font-size: 0.9rem;
}

.socials__icon {
    color: #000033;
    margin: 10px;
}

.fa-flag:hover {
    color: #2adabc;
    transition: all ease 0.2s;
}

.content__about{
    display: flex;
    height:  400px;
    font-style: italic;
    font-size: 1.1rem;
    color:  #747474;
    align-items: center;
    justify-content: center;
}

.content__about span {
    margin-top: 20px;
    font-size: 1.2rem;
}

.content__about ul {
    margin-top: 20px;
}

.content__about li{
    font-size: 1.6rem;
}


.content__about__img-wrapper{
    margin: 20px;
    width: 25%;
}

.content__about__img-wrapper img{
    max-width:100%; 
    height:auto;
    min-height: 180px;
    border-radius: 50%;
}

.films,
.music {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music span,
.films li{
    margin-top: 15px;
    font-size: 1.3rem;
}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(232, 232, 232, 0.5);
    background-color: #FFFFFF;
}

footer p {
    margin: 15px 0px;
    color: #5f5f5f;
    font-size: 0.9rem;
}